body {
  background-color: green;
}

#wrapper {
  margin: 50px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 50px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  
}


header{
  grid-column: span 12;
  background-color: lightblue;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li{
  border: 1px solid darkblue;
  width: 150px;
  margin: 10px;
  background-color: rgb(2,0,36);
  
  color: lightblue;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  
}

nav li:hover{
  background-color: black;
}

nav li a{
  color: lightblue;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,81,1) 17%, rgba(0,212,255,1) 100%);
  font-family: Arial, Helvetica, sans-serif;
  
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li{
  border: 1px solid #000000;
  width: 150px;
  margin: 10px;
  background-color: red;
  color: white;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  
}

nav li a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  
}

nav{
  grid-column: span 3;
  background-color: green;
  
  text-align: center;
  
}


h1{
  text-align: center;
  color: aquamarine;
}

#featureimg{
  grid-column: span 8;
}

nav{
  grid-column: 1
}

.floatimg{
  float: right;
  border: 2px solid darkblue;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  width: 300px;
}

.one{
  text-align: center;
  grid-column: span 7;
  border: 2px solid darkgreen;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  background-color: seagreen;
  
}


.Tree{
  float: right;
  border: 2px solid darkblue;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  width: 300px;
}

footer{
  text-align: center;
  text-size-adjust: 500px;
}